<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522245885454-lfvaficseov2lu1op35i8fm8eq95l6kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522245885454-lfvaficseov2lu1op35i8fm8eq95l6kn</string>
	<key>API_KEY</key>
	<string>AIzaSyCLAwvvZeDFzoNTQ8HkjVst3DqU-kR_IDw</string>
	<key>GCM_SENDER_ID</key>
	<string>522245885454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app2.SuhailAzhar-COBSComp171P-018</string>
	<key>PROJECT_ID</key>
	<string>suhailnibmconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>suhailnibmconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522245885454:ios:2f15345ff843b581</string>
	<key>DATABASE_URL</key>
	<string>https://suhailnibmconnect.firebaseio.com</string>
</dict>
</plist>